<style>
    table {
        border-collapse: collapse;
    }

    table tr td,
    table tr th{
        border: 1px solid black;
        padding: 0 5px;
    }
</style>
<h2>{{ header }}</h2>

{{ form.errors }}

<table>
    <tr>
        <th>Проект</th>
        <th>Задача</th>
        <th>Срок</th>
        <th>Завешена</th>
        <th>Статус</th>
        <th>Комментарий</th>
        <th>Операции</th>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.project }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.finish_date }}</td>
            <td>{{ item.get_status_display }}</td>
            <td>{{ item.comment|linebreaks }}</td>
            <td>
                {% if item.status == 'C' %}
                    <a href="complete/{{ item.id }}">Завершить</a>
                {% endif %}
                {% if item.status == 'R' %}
                    <a href="uncomplete/{{ item.id }}">Возобновить</a>
                {% endif %}
                <a href="edit/{{ item.id }}">Редактировать</a>
                <a href="delete/{{ item.id }}">Удалить</a>
            </td>
        </tr>
    {% endfor %}
</table>