<style>
    table {
        border-collapse: collapse;
    }

    table tr td,
    table tr th{
        border: 1px solid black;
        padding: 0 5px;
    }
</style>
<h2>{{ header }}</h2>

{{ form.errors }}

<table>
    <tr>
        <th>Проект</th>
        <th>Задача</th>
        <th>Срок</th>
        <th>Завешена</th>
        <th>Комментарий</th>
        <th>Операции</th>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.project }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.due_date }}</td>
            <td>{{ item.finish_date }}</td>
            <td>{{ item.comment }}</td>
            <td><i>Операции</i></td>
        </tr>
    {% endfor %}
</table>